<%- include('header.ejs') %>
    <main>
        <h1><%= title %></h1>
        <% if (user) { %>
            <p>Welcome <%= user.username %></p>
        <% } else { %>
            <p>Welcome to <%= title %></p>
        <% } %>

        <% posts.forEach(post => { %>
            <div class="row">
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0"><%- post.title  %> </h3>
                            <div class="mb-1 text-muted"><%= post.datePosted %> </div>
                            <p class="card-text mb-auto"><%- post.text %> </p>
                            <% if (user) { %>
                                <p class="card-text mb-auto">by <%- post.author.username %> </p>
                            <% } else { %>
                                <p class="card-text mb-auto">by anonymous</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>   
    </main>
<%- include('footer.ejs') %>